/* body */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #5f9195;
  }

/* body background images */
.station-img{
    background : url(https://images.nightcafe.studio/jobs/69OGdj2T5jAyofEEW6Eh/69OGdj2T5jAyofEEW6Eh--4--dkdt4_4x.jpg?tr=w-1600,c-at_max);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 7em;
}

.station-img-2{
    background : url(https://images.nightcafe.studio/jobs/WO9jrjtiGSXzbAgByQNU/WO9jrjtiGSXzbAgByQNU--3--oz0ui_2x.jpg?tr=w-1600,c-at_max);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 15em;
}

/* form elements, inputs and buttons */
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default){
    border: none;
    height: 1em;
    margin:0;
}

fieldset {
    background-color: rgb(39 21 50 / 47%);
    color: black;
    font-family: "Audiowide", sans-serif;
    
}

label {
    color: white;
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
}

#submit {
    background-color: rgb(39 21 50 / 47%);
    font-family: "Audiowide", sans-serif;
    font-size: 1em;
    color: white;
    border: white solid;
    margin-top: 1em;
}

.input-button {
    background-color: rgb(39 21 50 / 47%);
    font-family: "Audiowide", sans-serif;
    font-size: 1em;
    color: white;
    border: white solid;
}

.con-btn{
    background-color: #848988;
    border-radius: 2em;
    border-style: none;
    height:7em;
    width:7em;
}

button:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0 );
}

.f-icon {
    font-size: 50px;
    color: rgba(63, 200, 205, 1 );
}

.n-icon {
    font-size: 30px;
    color: rgba(63, 200, 205, 1 );
}

.content {
    display: none;
    overflow: hidden;
    background-color: rgba(63, 200, 205, 1 );
    text-align: center;
}

.login-button {
    border-style: solid;
    background-color: rgb(39 21 50 / 47%);
    width: 80%;
    font-size: 0.5em;
    font-family: "Audiowide", sans-serif;
    
}

.login-button a {
    color: white;
}

.button-style {
    background-color:rgba(63, 200, 205, 1 );
}

.button-style:hover{
    background-color: #464066;
}
/* container styles */
.form-style {
    background-color: #8f7692;
    border: solid;
    border-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.content-bg{
    background-color: rgba(0, 0, 0, 0.1 );
}

.text-bg {
    background-color: rgba(0, 0, 0, 0.2 );
}

.area-style {
    background-color: #8f7692;
    margin-top: 1em;
    margin-bottom: 1em;
    border: solid;
    border-color: white;
}

.alert-style{
    background-color: rgba(63, 200, 205, 1 );
}

/* icons */
.con-icon{
    font-size: 5em;
}

/* images */

.profile-img{
    border-radius: 0%;
}


#hero-img {
    width:60%;
    border-radius: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.ctz-img {
    border-radius: 50%;
    width:90%
}

#signup-img{
    border-radius: 50%;
    width: 40%;
    margin-top: 1em;
    margin-bottom: 2em;
}

#delete-account-img{
    border-radius: 50%;
    width: 40%;
    margin-top: 1em;
    margin-bottom: 2em;
}

#change-password-img{
    border-radius: 50%;
    width: 40%;
    margin-top: 1em;
    margin-bottom: 2em;
}

#account-img{
    border-radius: 50%;
    width: 40%;
    margin-top: 1em;
    margin-bottom: 2em;
}

#signin-img{
    border-radius: 50%;
    width: 40%;
    margin-top: 1em;
    margin-bottom: 2em;
}

#crew-preview img {
    width: 8em;
    border-radius: 50%;
}

#captain-img {
    width: 5%;
}

.ctz-img-hover:hover {
    box-shadow: 5px 1px 5px 1px rgba(63, 200, 205, 1 );
}

.ship-img {
    border-radius: 50%;
    width:65%;
}

/* fonts */

a {
    color: white;
}

.glow-font-nav {
    font-family: "Audiowide", sans-serif;
    color: black;
    margin: 0px;
    font-size: 1em;
}

.glow-font-large {
    font-family: "Audiowide", sans-serif;
    color: black;
    margin: 0px;
    font-size: 3em;
}

.glow-font-small {
    font-family: "Audiowide", sans-serif;
    color: black;
    text-shadow: 1px 1px rgba(63, 200, 205, 1 );
    font-size: 0.5em;
}

.logo {
    font-family: "Audiowide", sans-serif;
    color: white;
    margin: 0px;
    font-size: 2em;
}

.glow-font-medium, label {
    font-family: "Audiowide", sans-serif;
    color: black;
    font-size: 1.5em;
}

nav ul a {
    color: white;
    font-size: 2em;
}


/* navigation */
.sidenav {
    background-color: rgb(118 158 165);
}


.footer {
    background-color: #2a475f;
}

nav {
    background-color: #2a475f;
}

nav .logo {
    position: absolute;
    display: inline-block;
    padding: 0;
}

select {
    display: block;
    font-size: 1em;
}

/* hidden class */
.crew-field {
    display: none;
}

/* spaceship styling*/
.spaceship {
    font-size: 15em;
    padding: 5%;
}

.ship-area{
    background-color: #8f7692;
    border: solid;
    border-color: white;
}

.red-ship {
    color: #c53539;
}

.blue-ship {
    color: #464066;
}

.yellow-ship {
    color: #d6dc82;
}

.green-ship {
    color: #97b6a0;
}

.ship-wrapper{
    background-image: url(https://images.nightcafe.studio/jobs/KYfCXnXHk9eueLkcW6l4/KYfCXnXHk9eueLkcW6l4--2--ou8wq.jpg?tr=w-1600,c-at_max);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3%;
    border-radius: 50%;
    width: 50%;
    margin-left: 24%;
    box-shadow: -1px 2px 30px 2px rgb(176 208 222);
}

/* media screens */


@media (max-width:482px){
    #crew-preview img {
        width: 5em;
    }
    .glow-font-large{
        font-size: 1.5em;
    }
    .glow-font-medium, label{
        font-size: 1em;
    }
    .glow-font-nav{
        font-size: 1.5em;
    }
    .spaceship{
        font-size: 8em;
    }
    .glow-font-small{
        font-size: 0.8em;
    }
}

@media (min-width: 1500px){
    .glow-font-descriptions{
        font-size: 2em;
    }
}
@media (min-width: 630px){
    .margin-push{
        margin-bottom: 45vh;
    }
    .glow-font-nav{
        font-size: 1.5em;
    }

    .glow-font-small{
        font-size: 1.5em;
    }
}

@media (min-width: 900px){
    .login-button{
        font-size: 2em;
    }
    #hero-img {
        width:40%;
    }
    .glow-font-small, select{
        font-size: 1.5em;
    }
    .glow-font-medium, label{
        font-size: 2em;
    }
    .glow-font-large{
        font-size: 4em;
    }
    .margin-push{
        margin-bottom: 23vh;
    }
    .glow-font-nav{
        font-size: 4em;
    }
    nav ul a {
        font-size: 0.3em;
    }

    #crew-preview img {
        width:18em;
    }

    .select-wrapper input.select-dropdown, .input-button, #submit {
        font-size: 2em;
    }
    .logo {
        font-size: 3em;
    }
}

@media (min-width: 1800px){
    .glow-font-small, select{
        font-size: 2em;
    }
    .glow-font-medium, label{
        font-size: 2.5em;
    }
    .glow-font-large{
        font-size: 2.5em;
    }
    .glow-font-nav{
        font-size: 4em;
    }
    nav ul a {
        font-size: 0.7em;
    }

    .select-wrapper input.select-dropdown, .input-button, #submit, #username, #password, #confirmPassword, #shipname{
        font-size: 2.5em;
    }
    .logo {
        font-size: 4em;
    }
}