/* materialize sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(118 158 165);
  }

.station-img{
    background : url(https://images.nightcafe.studio/jobs/69OGdj2T5jAyofEEW6Eh/69OGdj2T5jAyofEEW6Eh--4--dkdt4_4x.jpg?tr=w-1600,c-at_max);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 15em;
}

.station-img-2{
    background : url(https://images.nightcafe.studio/jobs/WO9jrjtiGSXzbAgByQNU/WO9jrjtiGSXzbAgByQNU--4--dqh20_2x.jpg?tr=w-1600,c-at_max);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 15em;
}

.form-style {
    background-color: #8a4871;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

fieldset {
    background-color: rgb(118 158 165);
    color: black;
    font-family: "Audiowide", sans-serif;
    
}

label {
    color: white;
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
}

.profile-img{
    border-radius: 0%;
}

#submit {
    background-color: rgb(118 158 165);
    font-family: "Audiowide", sans-serif;
    font-size: 30px;
    color: white;
    border-radius: 20%;
    border-style: none;
    margin-top: 2em;
}

  main {
    flex: 1 0 auto;
  }

.ctz-img {
    border-radius: 50%;
    width:100%
}

button {
    border: none;
    color: none;
    border-radius: 50%;
}

nav li a {
    font-size: 3em;
    margin-left: 1em;
}

.glow-font-large {
    font-family: "Audiowide", sans-serif;
    color: white;
}

.sidenav {
    background-color: rgb(118 158 165);
}

.glow-font-title{
    font-family: "Audiowide", sans-serif;
    color: black;
    font-size: 1em;
}

.sidenav li>a {
    font-size: 1em;
}
.content-bg{
    background-color: rgba(0, 0, 0, 0.1 );
}
.glow-font-small {
    font-family: "Audiowide", sans-serif;
    color: white;
    text-shadow: 1px 1px rgba(63, 200, 205, 1 );
}
button:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0 );
}

.f-icon {
    font-size: 50px;
    color: rgba(63, 200, 205, 1 );
}

.n-icon {
    font-size: 30px;
    color: rgba(63, 200, 205, 1 );
}

.ctz-img:hover {
    box-shadow: 5px 1px 5px 1px rgba(63, 200, 205, 1 );
    background-color: none;
}

#signup-img{
    border-radius: 50%;
    width: 30%;
    margin-top: 1em;
    margin-bottom: 2em;
}

.content {
    display: none;
    overflow: hidden;
    background-color: rgba(63, 200, 205, 1 );
    border-radius:5px;
    z-index: 2;
    margin-top: 10px;
    text-align: center;
  }

.collapsible{
    border: none;
}

.active{
    background-color: none;
}

.footer {
    background-color: rgb(138 72 113);
}

nav {
    background-color: rgb(138 72 113);
}

nav .brand-logo {
    position: absolute;
    color: black;
    display: inline-block;
    font-size: 1rem;
    padding: 0;
}

