<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Station C4t is a small full stack website about cats in space">
    <title>StationC4t</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <script src="https://kit.fontawesome.com/bdd19e9f82.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <!-- Materialize navbar desktop and mobile -->
    <nav>
        <div class="nav-wrapper">
            <a href="{{ url_for('index') }}" class="hide-on-med-and-down logo">SpaceStationC4t</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger" aria-label="sidenav-trigger"><i class=" n-icon fa-brands fa-space-awesome"></i></a>
            <ul class="right hide-on-med-and-down">
                {% if session["user"] %}
                <li class="glow-font-nav"><a href="{{ url_for('build_ship') }}">Create a ship</a></li>
                <li class="glow-font-nav"><a href="{{ url_for('get_ships') }}">My ships</a></li>
                <li class="glow-font-nav"><a href="{{ url_for('logout') }}">Logout</a></li>
                <li class="glow-font-nav"><a href="{{ url_for('myaccount') }}">My Account</a></li>
                {% else %}
                <li class="glow-font-nav"><a href="{{ url_for('create_account') }}">Sign Up</a></li>
                <li class="glow-font-nav"><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        {% if session["user"] %}
        <li class="glow-font-nav"><a href="{{ url_for('index') }}">Home</a></li>
        <li class="glow-font-nav"><a href="{{ url_for('build_ship') }}">Create a ship</a></li>
        <li class="glow-font-nav"><a href="{{ url_for('get_ships') }}">My ships</a></li>
        <li class="glow-font-nav"><a href="{{ url_for('logout') }}">Logout</a></li>
        <li class="glow-font-nav"><a href="{{ url_for('myaccount') }}">My Account</a></li>
        {% else %}
        <li class="glow-font-nav"><a href="{{ url_for('create_account') }}">Sign Up</a></li>
        <li class="glow-font-nav"><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
    </ul>
    <!-- Main page contents -->
    <div class="station-img container-fluid"></div>
    <!-- page parallax image 1 above -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container alert-style">
                <div class="row">
                    <div class="col s12">
                        <ul class="glow-font-medium center-align">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <!-- flash messages div -->

        {% block content %}
        {% endblock %}

        
    <div class="station-img-2 container-fluid">
    </div>
    <!-- page parallax image 2 -->

    <!-- custom materialize footer below-->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col s4">
                    <h3 class="center-align">
                        <span><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook f-icon"
                                    aria-hidden="true"></i><span class="sr-only">facebook link</span></a></span>
                    </h3>
                </div>
                    <div class="col s4">
                    <h3 class="center-align">
                        <span><a href="https://github.com/" target="_blank"><i class="fa-brands fa-github f-icon"
                                    aria-hidden="true"></i><span class="sr-only">github link</span></a></span>
                    </h3>
                </div>
                    <div class="col s4 footer-icons">
                    <h3 class="center-align">
                        <span><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin f-icon"
                                    aria-hidden="true"></i><span class="sr-only">linkedin link</span></a></span>
                    </h3>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/js/scripts.js') }}"></script>
</body>