{% extends "base.html" %}
{% block content %}
<form class="col s10 offset-s1" method="POST" action="{{ url_for('change_password') }}">
    <div class="container form-style">
        <div class="center-align">
            <div>
                <div class="col s12">
                    <div class="container-fluid center-align">
                        <div class="row">
                            <fieldset class="col s8 offset-s2">
                                {{ form.username.label }}
                                {{ form.username}}
                            </fieldset>
                        </div>
                        <div class="row">
                            <fieldset class="col s8 offset-s2">
                                {{ form.password.label }}
                                {{ form.password }}
                            </fieldset>
                        </div>
                        <div class="row">
                            <fieldset class="col s8 offset-s2">
                                {{ form.newpassword.label }}
                                {{ form.newpassword }}
                            </fieldset>
                        </div>
                        <div class="row">
                            <div class="offset-s2">
                                {{ form.submit }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
{% endblock %}