<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for citizen in citizens %}
        {% for pirates in citizen.data %}
            <h2>Name: {{pirates.name}}</h2>
            <h3>Job: {{pirates.job}}</h3>
            <h3>Fur: {{pirates.fur}}</h3>
            <h3>Unique Feature: {{pirates.uniquef}}</h3>
            <br>
        {% endfor %}
    {% endfor %}

</body>
</html>