<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            {% for citizen in citizens %}
                {% for pirates in citizen.data %}
                    <div class="col s12 m4 l4">
                        <ul class="collapsible">
                            <li>
                                <button class="collapse">
                                <img src= "{{pirates.img_src}}" alt="{{pirates.name}}"class="center-align">
                                </button>
                                <div class="content">
                                    <ul class="glow-font-small">
                                        <li>Name: {{pirates.name}}</li>
                                        <li>Job: {{pirates.job}}</li>
                                        <li>Fur: {{pirates.fur}}</li>
                                        <li>Unique Feature: {{pirates.uniquef}}</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>