{% extends "base.html" %}
{% block content %}
    <div class="container control-panel center-align">
        <div class="row">
            <div class="col s3">
                <button class="con-btn"><a href="{{ url_for('index') }}"><i class="fa-solid fa-house con-icon"></i></a></button>
            </div>
            <div class="col s3">
                <button class="con-btn"><a><i class="fa-solid fa-user con-icon"></i></a></button>
            </div>
            <div class="col s3">
                <button class="con-btn"><a href="{{ url_for('get_citizens') }}"><i class="fa-solid fa-cat con-icon"></i></a></button>
            </div>
            <div class="col s3">
                <button class="con-btn"><a href="{{ url_for('get_ships') }}"><i class="fa-solid fa-rocket con-icon"></i></a></button>
            </div>    
        </div>
    </div>
{% endblock %}