{% extends "base.html" %}
{% block content %}
<div class="container area-style center-align">
    <div class="row">
        <div class="col s12">
            <h2 class="glow-font-large">My Account</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <img src="https://images.nightcafe.studio/jobs/5fTQm1VVfD5YbJQZkAMH/5fTQm1VVfD5YbJQZkAMH--3--2vht8.jpg?tr=w-1600,c-at_max"
            alt="account-img" id="account-img">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4 class="glow-font-medium">Manage Account</h4>
        </div>
    </div>
    <div class="row">
        <!-- button for managing account -->
        <div class="col s12 m4">
            <h3 class="button-style glow-font-small"><a href="{{ url_for('delete_account') }}">Delete Account</a></h3>
        </div>
        <div class="col s12 m4">
            <h3 class="button-style glow-font-small"><a href="{{ url_for('change_password') }}">Change Password</a></h3>
        </div>
        <div class="col s12 m4">
            <h3 class="button-style glow-font-small"><a href="{{ url_for('logout') }}">Logout</a></h3>
        </div>
    </div>
</div>
{% endblock %}